{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<div class="login" method="post">
  <img src="/static/images/login-bg.png" alt="login image" class="login__img">

  <form action="" class="login__form">
     <h1 class="login__title" style="color: rgba(8, 220, 209, 0.954);">Login</h1>

     <div class="login__content">
        <div class="login__box">
           <i class="ri-user-3-line login__icon"></i>

           <div class="login__box-input">
              <input type="email" required class="login__input" id="login-email" placeholder=" ">
              <label for="login-email" class="login__label" style="color: rgba(8, 220, 209, 0.954);">Email</label>
           </div>
        </div>

        <div class="login__box">
           <i class="ri-lock-2-line login__icon"></i>

           <div class="login__box-input">
              <input type="password" required class="login__input" id="login-pass" placeholder=" ">
              <label for="login-pass" class="login__label" style="color: rgba(8, 220, 209, 0.954);">Password</label>
              <i class="ri-eye-off-line login__eye" id="login-eye"></i>
           </div>
        </div>
     </div>

     <div class="login__check">
        <div class="login__check-group">
           <input type="checkbox" class="login__check-input" id="login-check">
           <label for="login-check" class="login__check-label" style="color: rgba(8, 220, 209, 0.954);">Remember me</label>
        </div>

        <a href="#" class="login__forgot" style="color: rgba(8, 220, 209, 0.954);">Forgot Password?</a>
     </div>

     <button type="submit" class="login__button">Login</button>

     <p class="login__register">
        Don't have an account? <a href="/register">Register</a>
     </p>
  </form>
</div>

{% endblock %}