{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<section>
  <div class="box">
    <div class="form card-front">
      <h2>Register</h2>
      <form action="">
        <div class="inputbx">
          <input type="text" placeholder="Full Name" required />
          <i class="fas fa-user"></i>
        </div>
        <div class="inputbx">
          <input type="text" placeholder="Email" required />
          <i class="fas fa-envelope"></i>
        </div>
        <div class="inputbx">
          <input type="password" placeholder="Password" required />
          <i class="fas fa-lock"></i>
        </div>
        <label class="remember">
          <input type="checkbox" />Remember Me
        </label>
        <div class="inputbx">
          <input type="submit" value="Sign Up" />
        </div>
      </form>
      <a href="/login"
        ><button type="button" class="btn">Already Have Account?</button></a
      >
    </div>
  </div>
</section>
    
          
{% endblock %}