{% extends "base.html" %}
{% block title %}Sales{% endblock %}
{% block content %}
<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Make Sales
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Sales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/make_sales" method="POST">
            <select class="form-select" aria-label="Default select example" name="pid">
              <option selected>Select Product</option>
              {% for i in prods %}
              <option value={{i[0]}}>{{i[1]}}</option>
              {% endfor %} 
            </select><br>
            <label for="Stock_Quantity">Stock_Quantity</label><br>
            <input type="number" name="Stock_Quantity"><br>
            <button type="submit" class="btn btn-primary">SALE</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
        </div>
      </div>
    </div>
  </div>
        
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">P_ID</th>
              <th scope="col">Stock Quantity</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            {% for i in sales%}
            <tr>
              <td>{{i[0]}}</td>
              <td>{{i[1]}}</td>
              <td>{{i[2]}}</td>
              <td>{{i[3]}}</td>
              <!-- <td>{{i[4]}}</td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>

{% endblock%}